body {
  font-size: 20px;
  min-width: 320px;
}

/* -- Google Fonts
  font-family: 'Exo', sans-serif;
  font-family: 'Slabo 27px', serif;
*/

/* page containers */
.main {
  margin: 0 auto;
  background-color: lightgray;
  padding: 1em;
}

.container {
  display: block;
}

.head {
  text-align: center;
  background-color: #2d74a0;
  color: white;
  border-radius: .5em;
}

.list-cont {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}

/* item styles */
.item {
  display: flex; /*flex for each item */
  flex-direction: row; /* row format in mobile mode*/
  flex-wrap: wrap;
  justify-content: space-between; /* horz space */
  align-items: center; /* verticle align in row*/
  background-color: #00e034;
  border-radius: .5em;
  padding: .5em;
  margin-bottom: 1em;
  line-height: 2.1em;
}

@media (min-width: 300px) and (max-width: 825px) {
  .item {
    display: flex;
    align-items: center;
  }
  .item-content {
    margin-bottom: 1em;
  }

}

@media (min-width: 600px) {
  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}

/* input styles */

input[type=text] {
   background-color: white;
   min-height: 2.5em;
   min-width: 1em;
   font-size: .8em;
   font-family: sans-serif;
}

input[type=checkbox] {
 
}

label {
  font-size: .8em;
  font-family: sans-serif;
  overflow: hidden;
}

.item-actions a {
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
}



@media ()

.edited label:after {
  content: " edited";
  text-transform: uppercase;
  color: red;
  font-size: 14px;
  padding-left: 5px;
}

.delete {
  display: inline-block;
  background-color: black;
  color: white;
  border-radius: .5em;
  text-align: center;
  margin-left: 1em;
  width: 5em;
  height: 2em;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

/* -- headings -- */
h1 {
  font-family: 'Exo', sans-serif;
  font-size: 2em;
  font-weight: 900;
}


